numpy~=1.23.5
tqdm
psutil
packaging
fastapi
uvicorn
typer
redis
scipy
pytest
requests
click
transformers
readerwriterlock
torch
torchvision
torchaudio
colossalai
omegaconf
prometheus-fastapi-instrumentator
hiq-python

